@import "tailwindcss";

@font-face {
  font-family: 'Futura';
  src: url('/fonts/Intrepid-Regular/intrepid.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-sans: "Futura", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Futura", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: #fff;
  color: #1a0a0a;
}